In [1]:
import numpy as np
import pandas as pd

def join_data(files):
    df = pd.read_csv(files[0])
    df.columns = ['Trip Duration','Start Time','Stop Time','Start Station ID','Start Station Name','Start Station Latitude','Start Station Longitude','End Station ID','End Station Name','End Station Latitude','End Station Longitude','Bike ID','User Type','Birth Year','Gender']
    for i in range(1, len(files)):
        temp = pd.read_csv(files[i])
        temp.columns = ['Trip Duration','Start Time','Stop Time','Start Station ID','Start Station Name','Start Station Latitude','Start Station Longitude','End Station ID','End Station Name','End Station Latitude','End Station Longitude','Bike ID','User Type','Birth Year','Gender']
        df = df.append(temp, ignore_index=True)
    return df

In [2]:
list_of_files = ['201701-citibike-tripdata.csv', '201702-citibike-tripdata.csv', '201703-citibike-tripdata.csv', '201704-citibike-tripdata.csv', '201705-citibike-tripdata.csv', '201706-citibike-tripdata.csv', '201707-citibike-tripdata.csv', '201708-citibike-tripdata.csv', '201709-citibike-tripdata.csv', '201710-citibike-tripdata.csv', '201711-citibike-tripdata.csv', '201712-citibike-tripdata.csv']

data = join_data(list_of_files)

In [3]:
data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0

# Create a table of Station ID and its Latitude and Longitude

In [32]:
start_stations = data[['Start Station ID', 'Start Station Latitude', 'Start Station Longitude']].drop_duplicates('Start Station ID')

In [33]:
start_stations.rename(index=str, columns={'Start Station ID': 'Station ID', 'Start Station Latitude': 'Latitude', 'Start Station Longitude': 'Longitude'}, inplace=True)

In [34]:
end_stations = data[['End Station ID', 'End Station Latitude', 'End Station Longitude']].drop_duplicates('End Station ID')

In [35]:
end_stations.rename(index=str, columns={'End Station ID': 'Station ID', 'End Station Latitude': 'Latitude', 'End Station Longitude': 'Longitude'}, inplace=True)

In [38]:
# This returns the table of stations desired
stations = start_stations.append(end_stations, ignore_index=True).drop_duplicates('Station ID')

In [150]:
stations.sort_values(by='Station ID', inplace=True)

In [152]:
# Save the info in a csv file
stations.to_csv('Stations and Locations.csv', index=False)

# Data transformation

In [5]:
data = data[['Start Time', 'Stop Time', 'Start Station ID', 'End Station ID']]

In [6]:
def get_date(df):
    return df['Start Time'].split()[0]

In [7]:
date_col = data.apply(get_date, axis=1)

In [8]:
data['Date'] = date_col

In [9]:
def get_start_hour(df):
    return df['Start Time'].split()[1].split(':')[0]

In [ ]:
start_hour_col = data.apply(get_start_hour, axis=1)

In [61]:
data['Start Hour'] = start_hour_col

/Users/zexi_ye/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
data.drop(columns=['Start Time', 'Stop Time'], inplace=True)

/Users/zexi_ye/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [92]:
grp_start = data.groupby([data['Start Hour'], data['Date'], data['End Station ID']], as_index=False)

In [104]:
start_data = grp_start.agg('count')

In [109]:
start_data.rename(index=str, columns={'Start Station ID': 'Station ID', 'End Station ID': 'Departures'}, inplace=True)

In [111]:
start_data

         Station ID        Date Start Hour  Departures
0                72  2017-01-01         02           1
1                72  2017-01-01         03           1
2                72  2017-01-01         05           2
3                72  2017-01-01         08           2
4                72  2017-01-01         09           1
5                72  2017-01-01         10           2
6                72  2017-01-01         12           5
7                72  2017-01-01         13           6
8                72  2017-01-01         15           7
9                72  2017-01-01         16           6
10               72  2017-01-01         17           2
11               72  2017-01-01         19           3
12               72  2017-01-01         22           1
13               72  2017-01-02         04           1
14               72  2017-01-02         06           1
15               72  2017-01-02         09           1
16               72  2017-01-02         10           3
17               72  2017-01-02         11           3
18               72  2017-01-02         13           2
19               72  2017-01-02         14           3
20               72  2017-01-02         18           3
21               72  2017-01-02         19           1
22               72  2017-01-02         20           1
23               72  2017-01-02         22           1
24               72  2017-01-03         04           1
25               72  2017-01-03         08           8
26               72  2017-01-03         09           3
27               72  2017-01-03         10           3
28               72  2017-01-03         14           1
29               72  2017-01-03         15           3
...             ...         ...        ...         ...
3174623        3653  2017-12-28         10           2
3174624        3653  2017-12-28         17           2
3174625        3653  2017-12-29         10           1
3174626        3653  2017-12-29         11           1
3174627        3653  2017-12-29         12           1
3174628        3653  2017-12-29         13           2
3174629        3653  2017-12-29         15           1
3174630        3653  2017-12-30         15           1
3174631        3653  2017-12-31         11           1
3174632        3653  2017-12-31         12           1
3174633        3653  2017-12-31         13           1
3174634        3654  2017-12-21         13           1
3174635        3654  2017-12-21         14           1
3174636        3654  2017-12-22         13           1
3174637        3654  2017-12-25         10           1
3174638        3654  2017-12-25         11           1
3174639        3654  2017-12-25         20           1
3174640        3654  2017-12-26         18           2
3174641        3654  2017-12-27         08           1
3174642        3654  2017-12-27         18           1
3174643        3654  2017-12-28         08           1
3174644        3654  2017-12-28         16           2
3174645        3654  2017-12-28         18           2
3174646        3654  2017-12-28         19           1
3174647        3654  2017-12-29         01           1
3174648        3654  2017-12-29         08           1
3174649        3654  2017-12-29         12           1
3174650        3654  2017-12-29         17           2
3174651        3654  2017-12-31         16           1
3174652        3654  2017-12-31         17           1

[3174653 rows x 4 columns]

In [112]:
grp_end = data.groupby([data['Start Hour'], data['Date'], data['End Station ID']], as_index=False)

In [113]:
end_data = grp_end.agg('count')

In [115]:
end_data.rename(index=str, columns={'End Station ID': 'Station ID', 'Start Station ID': 'Arrivals'}, inplace=True)

In [132]:
combined_data = start_data.merge(end_data, how='outer', on=['Station ID', 'Date', 'Start Hour'])

In [137]:
combined_data.sort_values(by=['Station ID', 'Date', 'Start Hour'], inplace=True)

In [142]:
combined_data.fillna(0, inplace=True)

In [146]:
combined_data.Departures = combined_data.Departures.astype(int)
combined_data.Arrivals = combined_data.Arrivals.astype(int)

In [148]:
combined_data.to_csv('Citibike Trip Count Data 2017.csv', index=False)